<html>
    <head>
        <title>User</title>
    </head>
    <body>
        <a href='/books'>Home</a>
        <a href='/books/add'>Add Book and Review</a>
        <a href='/logout'>Logout</a>
        <h1>User: {{user.first_name}}</h1>
        <p>Name: {{user.first_name}} {{user.last_name}}</p>
        <p>Email: {{user.email}} </p>
        <p>Total Reviews: {{reviews_count}}</p>
        <h3>Posted reviews on the following books:</h3>
        {% for review in reviews %}
        <p><a href='/books/{{review.book.id}}'>{{review.book.title}}</a></p>
        {% endfor %}
    </body>
</html>